<!-- <table>
  <thead>
    <tr>Name</tr>
    <tr>Lat</tr>
    <tr>Lon</tr>
  </thead>
  <tbody>
    <tr *ngFor="let train of trains">
      <td>{{train.Name}}</td>
      <td>{{train.Latitude}}</td>
      <td>{{train.Longitude}}</td>
    </tr>
  </tbody>
</table> -->
<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
</head>
<!-- <table>
  <thead>
    <tr>Name</tr>
    <tr>Lat</tr>
    <tr>Lon</tr>
  </thead>
  <tbody>
    <tr *ngFor="let train of trains">
      <td>{{train.Name}}</td>
      <td>{{train.Latitude}}</td>
      <td>{{train.Longitude}}</td>
    </tr>
  </tbody>
</table> -->
<div id="map"></div>