<div class="ScreenContainer" *ngIf="courseId">
  <div class="leftPanel">
    <div class="departureTime">
      <label class="departureTimeLabel">{{departureTime}}</label>
    </div>
    <div class="delay" *ngIf="delay">
      Opóźnienie
      <h1 class="delay_num">{{delay}} minut</h1>
    </div>
    <div class="delay_empty" *ngIf="!delay">
      <h1></h1>
    </div>
    <div class="courseIdDiv2">
      <label claas="courseIdLabel2">Numer / Number</label>
      <h1 class="courseIdNameLabel2">{{courseId}}</h1>
    </div>
  </div>
  <div class="rightPanel">
    <div class="headsign">
      <marquee direction="left" scrollamount="10" claas="headsign" *ngIf="headsignSize && headsignSize>10">{{headsign}}</marquee>
      <div claas="headsign" *ngIf="headsignSize && headsignSize<=10">{{headsign}}</div>

      <!--      <marquee class="css2" direction="left">{{headsign}}</marquee>
      -->
    </div>
    <!--    <div class="route">{{route}}</div>

    -->
    <div class="routeLabel" *ngIf="route">
      <div class="routeTitle">Przez stacje:</div>
      <marquee class="route" direction="left" scrollamount="6" *ngIf=" routeSize && routeSize>25">{{route}}</marquee>
      <div class="route" *ngIf="routeSize && routeSize<=25">{{route}}</div>
    </div>
    <div class="endOfTheLine" *ngIf="endOfTheLine">Pociąg kończy bieg</div>
    <!--    <div class="size">123456789101111</div>
    -->
    <div class="courseLine">
      <label claas="courseLineLabel">Nazwa / Name</label>
      <h1>{{line}}</h1>
    </div>
    <div class="freighter">
      <label claas="courseLineLabel">Przewoźnik / Freighter</label>
      <!--<mat-card class="example-card" appearance="outlined">-->
      <img mat-card-image [src]="icon" alt="Photo of a Shiba Inu" class="logoPos">
      <!--</mat-card>-->
    </div>
  </div>
</div>
<div class="emptyScreen" *ngIf="!courseId">
  <video id="advertPlayer" class="adverts"
          autoplay #videoPlayer (ended)="videoEnd()" [muted]="true" [src]="videoSrc"></video>
         <!-- <iframe width="1920" height="1080" src="https://www.youtube.com/embed/ymjl0_nRXME?autoplay=1" title="Urząd Transportu Kolejowego – transmisja widoku na Warszawę Zachodnią" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>-->
</div>

