<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<div mat-display-4>To jest 4</div>
<div mat-display-3>To jest 3</div>
<div mat-display-2>To jest 2</div>
<div mat-display-1>To jest 1</div>
<div mat-headline-1>mat-headline-1</div>
<div mat-headline-2>mat-headline-2</div>
<div mat-headline-3>mat-headline-3</div>
<div mat-headline-4>mat-headline-4</div>
<div mat-h1>mat-h1</div>
<div mat-h2>mat-h2</div>
<div mat-h3>mat-h3</div>
<div>
  <button mat-button>Click Me</button>
  <button mat-raised-button>Click Me</button>
  <button mat-stroked-button>Click Me</button>
  <button mat-falt-button>Click Me</button>
</div>
<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Icon</button>
  <button mat-mini-fab>Icon</button>

</div>

<div>

  <button color="accent" mat-button>Click Me</button>
  <button color="warn" mat-button>Click Me</button>
  <button color="primary" mat-button>Click Me</button>
  <button color="accent" mat-raised-button>Click Me</button>
  <button color="warn" mat-raised-button>Click Me</button>
  <button color="primary" mat-raised-button>Click Me</button>
  <button color="accent" mat-stroked-button>Click Me</button>
  <button color="warn" mat-stroked-button>Click Me</button>
  <button color="primary" mat-stroked-button>Click Me</button>

</div>





<!--<button mat-raised-button>Material</button>-->
<!--<div class="mat-display-4">To jest 4</div>
<div class="mat-display-3">To jest 3</div>
<div class="mat-display-2">To jest 2</div>
<div class="mat-display-1">To jest 1</div>-->
<!--  <div class="departureTime">
    <h1>{{departureTime}}</h1>
  </div>
  <div class="courseLine">
    <h1>{{line}}</h1>
  </div>
  <div class="headsign">
    <h1>{{headsign}}</h1>
  </div>-->
<!--<div>
  <div *ngIf="responseData">
    <h3>{{ courseId }}</h3>
    <pre>{{ departureTime }}</pre>


    <pre>{{ delay }}</pre>

    <li *ngFor="let stops of routeTo">
      {{ stops }}
    </li>
    <h1>{{ headsign }}</h1>


  </div>

  <div *ngIf="errorMessage">
    <p class="error">{{ errorMessage }}</p>
  </div>
</div>-->
